.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ddd;
}

.main {
  min-height: 100vh;
  max-width: 450px;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 2rem;
}

.title {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  position: fixed;
  top: 10rem;
}

.gametitle {
  position: fixed;
  top: 0;
  background-color: white;
  width: 100%;
  padding: 1rem;
  border-bottom: 1px solid #ddd;
  margin: 0;
}

.chats {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

@keyframes bubble {
  from {
    opacity: 0.3;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.bubble {
  margin-bottom: 1rem;
  width: fit-content;
  padding: 1rem 2rem;
  border-radius: 9999px;
  animation: bubble 0.2s ease;
}

.left {
  background-color: #ddd;
  border-bottom-left-radius: 0;
}

.right {
  background-color: #ccc;
  align-self: flex-end;
  border-bottom-right-radius: 0;
}

.option {
  width: 100%;
  border: none;
  padding: 1rem 2rem;
  background-color: #aaa;
  font-weight: 600;
  animation: bubble 0.2s ease;
  margin-bottom: 0.5rem;
}

.ending {
  background-color: coral;
}
